<ion-view view-title="Simulado" class="back" ng-controller="QuestionsCntrl">
    <ion-content class="padding">

        <div class="item item-divider padding-header">{{currentQuestion.id}} - {{currentQuestion.question}}</div>
        <div class="list">
            <div ng-repeat="rp in currentQuestion.replies">
                <ion-radio ng-model="currentOption" ng-click="Save(currentQuestion.id,rp.option, rp.isRigth)" value="{{rp.option}}">{{rp.option}} - {{rp.title}}</ion-radio>
            </div>

        </div>
        <button class="button button-positive left" ng-show="!isFirst" ng-click="GoPrevious(currentQuestion.id)">
            Anterior
        </button>
        <button class="button button-positive right" ng-click="GoNext(currentQuestion.id)">
            {{NextText}}
        </button>

    </ion-content>
</ion-view>