/* Empty. Add your own CSS if you like */
.back{
   background-color:#dcdcdc;
}

.right{
    float:right;
}

.left{
    float:left;
}

.smallFont{
    font-size: 9pt;
}

.padding-header{
    padding:20px;
}

.item-radio .radio-icon{
    font-size:40px;
    top:-20px;
    color:green;
}