/* Empty. Add your own CSS if you like */
.back{
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100 */
background: rgb(125,126,125); /* Old browsers */
background: -moz-linear-gradient(top,  rgb(125,126,125) 0%, rgb(14,14,14) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgb(125,126,125) 0%,rgb(14,14,14) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

.right{
    float:right;
}

.left{
    float:left;
}

.smallFont{
    font-size: 9pt;
}

.padding-header{
    padding:20px;
}

.item-radio .radio-icon{
    font-size:40px;
    top:-20px;
    color:green;
}

